Repository jimmykurian/Reactivities, changes with the labels that .github/labeler.yml gives for each.
All labels: Service, Tests, Client-App, CI/CD

Feat/update homepage styling (#152)
  client-app/__tests__/app/features/activities/dashboard/ActivityListItem.spec.tsx
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityDashboard.spec.tsx.snap
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityFilters.spec.tsx.snap
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityList.spec.tsx.snap
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityListItem.spec.tsx.snap
  client-app/__tests__/app/features/home/HomePage.spec.tsx
  client-app/__tests__/app/features/home/__snapshots__/HomePage.spec.tsx.snap
  client-app/__tests__/app/layout/App.spec.tsx
  client-app/docs/app/api/agent/variables/default.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityFilters/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityList/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityListItem/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityListItem/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedChat/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedHeader/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedHeader/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedInfo/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedInfo/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedSidebar/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetails/functions/default.md
  client-app/docs/app/features/activities/form/ActivityForm/functions/default.md
  client-app/docs/app/features/home/HomePage/functions/default.md
  client-app/docs/app/layout/App/functions/default.md
  client-app/docs/app/layout/LoadingComponent/functions/default.md
  client-app/docs/app/layout/LoadingComponent/interfaces/Props.md
  client-app/docs/app/layout/NavBar/functions/default.md
  client-app/docs/app/models/activity/interfaces/Activity.md
  client-app/docs/app/router/Routes/variables/router.md
  client-app/docs/app/router/Routes/variables/routes.md
  client-app/docs/app/stores/activityStore/classes/default.md
  client-app/docs/app/stores/store/functions/useStore.md
  client-app/docs/app/stores/store/interfaces/Store.md
  client-app/docs/app/stores/store/variables/StoreContext.md
  client-app/docs/app/stores/store/variables/store.md
  client-app/docs/main/variables/main.md
  client-app/src/app/features/activities/dashboard/ActivityListItem.tsx
  client-app/src/app/features/home/HomePage.tsx
  client-app/src/app/layout/styles.css
Labels: Client-App

feat(application): add fluent validation
  Service/API/Extensions/ApplicationServiceExtensions.cs
  Service/Application/Activities/ActivityValidator.cs
  Service/Application/Activities/Create.cs
  Service/Application/Activities/Edit.cs
  Service/Application/Application.csproj
  Tests/Application/Activities/ActivityValidatorTests.cs
Labels: Service, Tests

fix(client-app): fix failing snapshot tests
  client-app/__tests__/app/features/activities/dashboard/ActivityDashboard.spec.tsx
  client-app/__tests__/app/features/activities/dashboard/ActivityFilters.spec.tsx
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityDashboard.spec.tsx.snap
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityFilters.spec.tsx.snap
Labels: Client-App

feat(application): add fluent validation (#154)
  Service/API/Extensions/ApplicationServiceExtensions.cs
  Service/Application/Activities/ActivityValidator.cs
  Service/Application/Activities/Create.cs
  Service/Application/Activities/Edit.cs
  Service/Application/Application.csproj
  Tests/Application/Activities/ActivityValidatorTests.cs
  client-app/__tests__/app/features/activities/dashboard/ActivityDashboard.spec.tsx
  client-app/__tests__/app/features/activities/dashboard/ActivityFilters.spec.tsx
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityDashboard.spec.tsx.snap
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityFilters.spec.tsx.snap
Labels: Service, Tests, Client-App

feat(service): add API Error Handling
  Service/API/Controllers/ActivitiesController.cs
  Service/API/Controllers/BaseApiController.cs
  Service/Application/Activities/Create.cs
  Service/Application/Activities/Delete.cs
  Service/Application/Activities/Details.cs
  Service/Application/Activities/Edit.cs
  Service/Application/Activities/List.cs
  Service/Application/Application.csproj
  Tests/API/Controllers/ActivitiesControllerTests.cs
  Tests/Application/Activities/DetailsTests.cs
  Tests/Application/Activities/ListTests.cs
Labels: Service, Tests

chore(client-app): update snapshot tests
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityFilters.spec.tsx.snap
Labels: Client-App

feat(service): add API Error Handling (#156)
  Service/API/Controllers/ActivitiesController.cs
  Service/API/Controllers/BaseApiController.cs
  Service/Application/Activities/Create.cs
  Service/Application/Activities/Delete.cs
  Service/Application/Activities/Details.cs
  Service/Application/Activities/Edit.cs
  Service/Application/Activities/List.cs
  Service/Application/Application.csproj
  Tests/API/Controllers/ActivitiesControllerTests.cs
  Tests/Application/Activities/DetailsTests.cs
  Tests/Application/Activities/ListTests.cs
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityFilters.spec.tsx.snap
Labels: Service, Tests, Client-App

feat(service): add exception handling middleware
  Service/API/Middleware/ExceptionMiddleware.cs
  Service/API/Program.cs
  Service/Application/Core/AppException.cs
  Tests/API/Middleware/ExceptionMiddlewareTests.cs
  Tests/Application/Core/AppExceptionTests.cs
Labels: Service, Tests

chore(client-app): fix failing snapshot test
  client-app/__tests__/app/features/activities/dashboard/ActivityFilters.spec.tsx
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityFilters.spec.tsx.snap
Labels: Client-App

Feat/exceptions handling (#158)
  Service/API/Middleware/ExceptionMiddleware.cs
  Service/API/Program.cs
  Service/Application/Core/AppException.cs
  Tests/API/Middleware/ExceptionMiddlewareTests.cs
  Tests/Application/Core/AppExceptionTests.cs
  client-app/__tests__/app/features/activities/dashboard/ActivityFilters.spec.tsx
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityFilters.spec.tsx.snap
Labels: Service, Tests, Client-App

feat(service): implement Serliog and structured logging
  .gitignore
  Service/API/API.csproj
  Service/API/Controllers/ActivitiesController.cs
  Service/API/Controllers/BaseApiController.cs
  Service/API/Middleware/RequestContextLoggingMiddleware.cs
  Service/API/Program.cs
  Service/API/appsettings.Development.json
  Service/API/appsettings.json
  Service/Application/Application.csproj
  Service/Domain/Domain.csproj
  Service/Persistence/Persistence.csproj
  Tests/API/Controllers/ActivitiesControllerTests.cs
  Tests/API/Controllers/BaseApiControllerTests.cs
  Tests/API/Middleware/RequestContextLoggingMiddlewareTests.cs
  Tests/Tests.csproj
Labels: Service, Tests

feat(service): add serilog to create and exceptionmiddleware
  Service/API/Middleware/ExceptionMiddleware.cs
  Service/Application/Activities/Create.cs
  Tests/API/Middleware/ExceptionMiddlewareTests.cs
  Tests/Application/Activities/CreateTests.cs
Labels: Service, Tests

feat(service): add Serilog and structured logging to application layer
  Service/Application/Activities/Create.cs
  Service/Application/Activities/Delete.cs
  Service/Application/Activities/Details.cs
  Service/Application/Activities/Edit.cs
  Service/Application/Activities/List.cs
  Tests/Application/Activities/CreateTests.cs
  Tests/Application/Activities/DeleteTests.cs
  Tests/Application/Activities/DetailsTests.cs
  Tests/Application/Activities/EditTests.cs
  Tests/Application/Activities/ListTests.cs
Labels: Service, Tests

Feat/implement serilog (#163)
  .gitignore
  Service/API/API.csproj
  Service/API/Controllers/ActivitiesController.cs
  Service/API/Controllers/BaseApiController.cs
  Service/API/Middleware/ExceptionMiddleware.cs
  Service/API/Middleware/RequestContextLoggingMiddleware.cs
  Service/API/Program.cs
  Service/API/appsettings.Development.json
  Service/API/appsettings.json
  Service/Application/Activities/Create.cs
  Service/Application/Activities/Delete.cs
  Service/Application/Activities/Details.cs
  Service/Application/Activities/Edit.cs
  Service/Application/Activities/List.cs
  Service/Application/Application.csproj
  Service/Domain/Domain.csproj
  Service/Persistence/Persistence.csproj
  Tests/API/Controllers/ActivitiesControllerTests.cs
  Tests/API/Controllers/BaseApiControllerTests.cs
  Tests/API/Middleware/ExceptionMiddlewareTests.cs
  Tests/API/Middleware/RequestContextLoggingMiddlewareTests.cs
  Tests/Application/Activities/CreateTests.cs
  Tests/Application/Activities/DeleteTests.cs
  Tests/Application/Activities/DetailsTests.cs
  Tests/Application/Activities/EditTests.cs
  Tests/Application/Activities/ListTests.cs
  Tests/Tests.csproj
Labels: Service, Tests

chore(service): update StyleCop Comments & fix warnings
  .gitignore
  Tests/Application/Activities/CreateTests.cs
  Tests/Application/Activities/DeleteTests.cs
  Tests/Application/Activities/DetailsTests.cs
Labels: Tests

feat(application): add Test Errors to service and client to test error conditions
  .gitignore
  Service/API/Controllers/BuggyController.cs
  Tests/API/Controllers/BuggyControllerTests.cs
  client-app/__tests__/app/features/errors/TestErrors.spec.tsx
  client-app/__tests__/app/features/errors/__snapshots__/TestErrors.spec.tsx.snap
  client-app/__tests__/app/layout/__snapshots__/App.spec.tsx.snap
  client-app/__tests__/app/layout/__snapshots__/NavBar.spec.tsx.snap
  client-app/package-lock.json
  client-app/package.json
  client-app/src/app/features/errors/TestErrors.tsx
  client-app/src/app/layout/App.tsx
  client-app/src/app/layout/NavBar.tsx
  client-app/src/app/router/Routes.tsx
  client-app/src/main.tsx
Labels: Service, Tests, Client-App

feat(application): add Test Errors to service and client to test error conditions (#167)
  .gitignore
  Service/API/Controllers/BuggyController.cs
  Tests/API/Controllers/BuggyControllerTests.cs
  client-app/__tests__/app/features/errors/TestErrors.spec.tsx
  client-app/__tests__/app/features/errors/__snapshots__/TestErrors.spec.tsx.snap
  client-app/__tests__/app/layout/__snapshots__/App.spec.tsx.snap
  client-app/__tests__/app/layout/__snapshots__/NavBar.spec.tsx.snap
  client-app/package-lock.json
  client-app/package.json
  client-app/src/app/features/errors/TestErrors.tsx
  client-app/src/app/layout/App.tsx
  client-app/src/app/layout/NavBar.tsx
  client-app/src/app/router/Routes.tsx
  client-app/src/main.tsx
Labels: Service, Tests, Client-App

docs(client-app): update docs for new features
  client-app/docs/README.md
  client-app/docs/app/api/agent/variables/default.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityFilters/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityList/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityListItem/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityListItem/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedChat/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedHeader/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedHeader/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedInfo/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedInfo/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedSidebar/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetails/functions/default.md
  client-app/docs/app/features/activities/form/ActivityForm/functions/default.md
  client-app/docs/app/features/errors/TestErrors/README.md
  client-app/docs/app/features/errors/TestErrors/functions/default.md
  client-app/docs/app/features/home/HomePage/functions/default.md
  client-app/docs/app/layout/App/functions/default.md
  client-app/docs/app/layout/LoadingComponent/functions/default.md
  client-app/docs/app/layout/LoadingComponent/interfaces/Props.md
  client-app/docs/app/layout/NavBar/functions/default.md
  client-app/docs/app/models/activity/interfaces/Activity.md
  client-app/docs/app/router/Routes/variables/router.md
  client-app/docs/app/router/Routes/variables/routes.md
  client-app/docs/app/stores/activityStore/classes/default.md
  client-app/docs/app/stores/store/functions/useStore.md
  client-app/docs/app/stores/store/interfaces/Store.md
  client-app/docs/app/stores/store/variables/StoreContext.md
  client-app/docs/app/stores/store/variables/store.md
  client-app/docs/main/variables/main.md
Labels: Client-App

docs(service): update docs for new features
  docs/api/API.Controllers/BuggyController.md
  docs/api/API.Controllers/BuggyController/BuggyController.md
  docs/api/API.Controllers/BuggyController/GetBadRequest.md
  docs/api/API.Controllers/BuggyController/GetNotFound.md
  docs/api/API.Controllers/BuggyController/GetServerError.md
  docs/api/API.Controllers/BuggyController/GetUnauthorised.md
  docs/api/API.md
Labels: none

Docs/update docs (#169)
  client-app/docs/README.md
  client-app/docs/app/api/agent/variables/default.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityFilters/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityList/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityListItem/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityListItem/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedChat/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedHeader/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedHeader/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedInfo/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedInfo/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedSidebar/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetails/functions/default.md
  client-app/docs/app/features/activities/form/ActivityForm/functions/default.md
  client-app/docs/app/features/errors/TestErrors/README.md
  client-app/docs/app/features/errors/TestErrors/functions/default.md
  client-app/docs/app/features/home/HomePage/functions/default.md
  client-app/docs/app/layout/App/functions/default.md
  client-app/docs/app/layout/LoadingComponent/functions/default.md
  client-app/docs/app/layout/LoadingComponent/interfaces/Props.md
  client-app/docs/app/layout/NavBar/functions/default.md
  client-app/docs/app/models/activity/interfaces/Activity.md
  client-app/docs/app/router/Routes/variables/router.md
  client-app/docs/app/router/Routes/variables/routes.md
  client-app/docs/app/stores/activityStore/classes/default.md
  client-app/docs/app/stores/store/functions/useStore.md
  client-app/docs/app/stores/store/interfaces/Store.md
  client-app/docs/app/stores/store/variables/StoreContext.md
  client-app/docs/app/stores/store/variables/store.md
  client-app/docs/main/variables/main.md
  docs/api/API.Controllers/BuggyController.md
  docs/api/API.Controllers/BuggyController/BuggyController.md
  docs/api/API.Controllers/BuggyController/GetBadRequest.md
  docs/api/API.Controllers/BuggyController/GetNotFound.md
  docs/api/API.Controllers/BuggyController/GetServerError.md
  docs/api/API.Controllers/BuggyController/GetUnauthorised.md
  docs/api/API.md
Labels: Client-App

feat(client-app): add toast notifications for api errors
  client-app/src/app/api/agent.ts
Labels: Client-App

feat(client-app): add toast notifications for api errors (#171)
  client-app/src/app/api/agent.ts
Labels: Client-App

feat(client-app): add NotFound component
  client-app/__tests__/app/features/errors/NotFound.spec.tsx
  client-app/__tests__/app/features/errors/__snapshots__/NotFound.spec.tsx.snap
  client-app/src/app/api/agent.ts
  client-app/src/app/features/errors/NotFound.tsx
  client-app/src/app/router/Routes.tsx
Labels: Client-App

docs(client-app): update docs for new feature
  client-app/docs/README.md
  client-app/docs/app/api/agent/variables/default.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityFilters/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityList/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityListItem/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityListItem/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedChat/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedHeader/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedHeader/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedInfo/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedInfo/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedSidebar/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetails/functions/default.md
  client-app/docs/app/features/activities/form/ActivityForm/functions/default.md
  client-app/docs/app/features/errors/NotFound/README.md
  client-app/docs/app/features/errors/NotFound/functions/default.md
  client-app/docs/app/features/errors/TestErrors/functions/default.md
  client-app/docs/app/features/home/HomePage/functions/default.md
  client-app/docs/app/layout/App/functions/default.md
  client-app/docs/app/layout/LoadingComponent/functions/default.md
  client-app/docs/app/layout/LoadingComponent/interfaces/Props.md
  client-app/docs/app/layout/NavBar/functions/default.md
  client-app/docs/app/models/activity/interfaces/Activity.md
  client-app/docs/app/router/Routes/variables/router.md
  client-app/docs/app/router/Routes/variables/routes.md
  client-app/docs/app/stores/activityStore/classes/default.md
  client-app/docs/app/stores/store/functions/useStore.md
  client-app/docs/app/stores/store/interfaces/Store.md
  client-app/docs/app/stores/store/variables/StoreContext.md
  client-app/docs/app/stores/store/variables/store.md
  client-app/docs/main/variables/main.md
Labels: Client-App

Feat/adding a not found component (#173)
  client-app/__tests__/app/features/errors/NotFound.spec.tsx
  client-app/__tests__/app/features/errors/__snapshots__/NotFound.spec.tsx.snap
  client-app/docs/README.md
  client-app/docs/app/api/agent/variables/default.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityFilters/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityList/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityListItem/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityListItem/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedChat/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedHeader/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedHeader/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedInfo/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedInfo/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedSidebar/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetails/functions/default.md
  client-app/docs/app/features/activities/form/ActivityForm/functions/default.md
  client-app/docs/app/features/errors/NotFound/README.md
  client-app/docs/app/features/errors/NotFound/functions/default.md
  client-app/docs/app/features/errors/TestErrors/functions/default.md
  client-app/docs/app/features/home/HomePage/functions/default.md
  client-app/docs/app/layout/App/functions/default.md
  client-app/docs/app/layout/LoadingComponent/functions/default.md
  client-app/docs/app/layout/LoadingComponent/interfaces/Props.md
  client-app/docs/app/layout/NavBar/functions/default.md
  client-app/docs/app/models/activity/interfaces/Activity.md
  client-app/docs/app/router/Routes/variables/router.md
  client-app/docs/app/router/Routes/variables/routes.md
  client-app/docs/app/stores/activityStore/classes/default.md
  client-app/docs/app/stores/store/functions/useStore.md
  client-app/docs/app/stores/store/interfaces/Store.md
  client-app/docs/app/stores/store/variables/StoreContext.md
  client-app/docs/app/stores/store/variables/store.md
  client-app/docs/main/variables/main.md
  client-app/src/app/api/agent.ts
  client-app/src/app/features/errors/NotFound.tsx
  client-app/src/app/router/Routes.tsx
Labels: Client-App

feat(client-app): add handle 400 error component
  client-app/__tests__/app/features/errors/TestErrors.spec.tsx
  client-app/__tests__/app/features/errors/ValidationError.spec.tsx
  client-app/__tests__/app/features/errors/__snapshots__/ValidationError.spec.tsx.snap
  client-app/src/app/api/agent.ts
  client-app/src/app/features/errors/TestErrors.tsx
  client-app/src/app/features/errors/ValidationError.tsx
Labels: Client-App

chore(client-app): update tsdoc comments
  client-app/src/app/features/errors/ValidationError.tsx
Labels: Client-App

docs(client-app): update documentation for new feature
  client-app/docs/README.md
  client-app/docs/app/api/agent/variables/default.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityFilters/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityList/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityListItem/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityListItem/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedChat/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedHeader/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedHeader/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedInfo/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedInfo/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedSidebar/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetails/functions/default.md
  client-app/docs/app/features/activities/form/ActivityForm/functions/default.md
  client-app/docs/app/features/errors/NotFound/functions/default.md
  client-app/docs/app/features/errors/TestErrors/functions/default.md
  client-app/docs/app/features/errors/ValidationError/README.md
  client-app/docs/app/features/errors/ValidationError/functions/default.md
  client-app/docs/app/features/errors/ValidationError/interfaces/Props.md
  client-app/docs/app/features/home/HomePage/functions/default.md
  client-app/docs/app/layout/App/functions/default.md
  client-app/docs/app/layout/LoadingComponent/functions/default.md
  client-app/docs/app/layout/LoadingComponent/interfaces/Props.md
  client-app/docs/app/layout/NavBar/functions/default.md
  client-app/docs/app/models/activity/interfaces/Activity.md
  client-app/docs/app/router/Routes/variables/router.md
  client-app/docs/app/router/Routes/variables/routes.md
  client-app/docs/app/stores/activityStore/classes/default.md
  client-app/docs/app/stores/store/functions/useStore.md
  client-app/docs/app/stores/store/interfaces/Store.md
  client-app/docs/app/stores/store/variables/StoreContext.md
  client-app/docs/app/stores/store/variables/store.md
  client-app/docs/main/variables/main.md
Labels: Client-App

Feat/handle 400 errors (#175)
  client-app/__tests__/app/features/errors/TestErrors.spec.tsx
  client-app/__tests__/app/features/errors/ValidationError.spec.tsx
  client-app/__tests__/app/features/errors/__snapshots__/ValidationError.spec.tsx.snap
  client-app/docs/README.md
  client-app/docs/app/api/agent/variables/default.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityFilters/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityList/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityListItem/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityListItem/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedChat/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedHeader/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedHeader/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedInfo/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedInfo/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedSidebar/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetails/functions/default.md
  client-app/docs/app/features/activities/form/ActivityForm/functions/default.md
  client-app/docs/app/features/errors/NotFound/functions/default.md
  client-app/docs/app/features/errors/TestErrors/functions/default.md
  client-app/docs/app/features/errors/ValidationError/README.md
  client-app/docs/app/features/errors/ValidationError/functions/default.md
  client-app/docs/app/features/errors/ValidationError/interfaces/Props.md
  client-app/docs/app/features/home/HomePage/functions/default.md
  client-app/docs/app/layout/App/functions/default.md
  client-app/docs/app/layout/LoadingComponent/functions/default.md
  client-app/docs/app/layout/LoadingComponent/interfaces/Props.md
  client-app/docs/app/layout/NavBar/functions/default.md
  client-app/docs/app/models/activity/interfaces/Activity.md
  client-app/docs/app/router/Routes/variables/router.md
  client-app/docs/app/router/Routes/variables/routes.md
  client-app/docs/app/stores/activityStore/classes/default.md
  client-app/docs/app/stores/store/functions/useStore.md
  client-app/docs/app/stores/store/interfaces/Store.md
  client-app/docs/app/stores/store/variables/StoreContext.md
  client-app/docs/app/stores/store/variables/store.md
  client-app/docs/main/variables/main.md
  client-app/src/app/api/agent.ts
  client-app/src/app/features/errors/TestErrors.tsx
  client-app/src/app/features/errors/ValidationError.tsx
Labels: Client-App

feat(service): implement netarchtest add arch fitness tests to api layer
  Tests/API/APIArchitectureTests.cs
  Tests/Tests.csproj
Labels: Tests

feat(service): add architecture fitness tests for the Application, Domain, and Persistence layers
  Tests/Application/ApplicationArchitectureTests.cs
  Tests/Domain/DomainArchitectureTests.cs
  Tests/Persistence/PersistenceArchitectureTests.cs
Labels: Tests

Feat/add nettestarch (#177)
  Tests/API/APIArchitectureTests.cs
  Tests/Application/ApplicationArchitectureTests.cs
  Tests/Domain/DomainArchitectureTests.cs
  Tests/Persistence/PersistenceArchitectureTests.cs
  Tests/Tests.csproj
Labels: Tests

chore(service): update encapsulation levels and namespaces
  Service/Persistence/AssemblyInfo.cs
  Service/Persistence/Seed.cs
  Tests/Application/ApplicationArchitectureTests.cs
Labels: Service, Tests

chore(service): update encapsulation levels and namespaces (#178)
  Service/Persistence/AssemblyInfo.cs
  Service/Persistence/Seed.cs
  Tests/Application/ApplicationArchitectureTests.cs
Labels: Service, Tests

chore(Service): update encapsulation level
  Service/Persistence/AssemblyInfo.cs
  Service/Persistence/Seed.cs
Labels: Service

chore(Service): update encapsulation level (#179)
  Service/Persistence/AssemblyInfo.cs
  Service/Persistence/Seed.cs
Labels: Service

chore(service): update encapsulation
  Service/Persistence/AssemblyInfo.cs
  Service/Persistence/Seed.cs
Labels: Service

chore(service): update encapsulation (#180)
  Service/Persistence/AssemblyInfo.cs
  Service/Persistence/Seed.cs
Labels: Service

feat(client-app): add 500 server error component to the client app
  client-app/__tests__/app/features/errors/ServerError.spec.tsx
  client-app/__tests__/app/features/errors/__snapshots__/ServerError.spec.tsx.snap
  client-app/__tests__/app/store/commonStore.spec.ts
  client-app/src/app/api/agent.ts
  client-app/src/app/features/errors/ServerError.tsx
  client-app/src/app/models/activity.ts
  client-app/src/app/models/serverError.ts
  client-app/src/app/router/Routes.tsx
  client-app/src/app/stores/commonStore.ts
  client-app/src/app/stores/store.ts
Labels: Client-App

docs(client-app): update docs for new feature
  client-app/docs/README.md
  client-app/docs/app/api/agent/variables/default.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityFilters/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityList/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityListItem/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityListItem/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedChat/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedHeader/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedHeader/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedInfo/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetailedInfo/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetailedSidebar/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetails/functions/default.md
  client-app/docs/app/features/activities/form/ActivityForm/functions/default.md
  client-app/docs/app/features/errors/NotFound/functions/default.md
  client-app/docs/app/features/errors/ServerError/README.md
  client-app/docs/app/features/errors/ServerError/functions/default.md
  client-app/docs/app/features/errors/TestErrors/functions/default.md
  client-app/docs/app/features/errors/ValidationError/functions/default.md
  client-app/docs/app/features/errors/ValidationError/interfaces/Props.md
  client-app/docs/app/features/home/HomePage/functions/default.md
  client-app/docs/app/layout/App/functions/default.md
  client-app/docs/app/layout/LoadingComponent/functions/default.md
  client-app/docs/app/layout/LoadingComponent/interfaces/Props.md
  client-app/docs/app/layout/NavBar/functions/default.md
  client-app/docs/app/models/activity/interfaces/Activity.md
  client-app/docs/app/models/serverError/README.md
  client-app/docs/app/models/serverError/interfaces/ServerError.md
  client-app/docs/app/router/Routes/variables/router.md
  client-app/docs/app/router/Routes/variables/routes.md
  client-app/docs/app/stores/activityStore/classes/default.md
  client-app/docs/app/stores/commonStore/README.md
  client-app/docs/app/stores/commonStore/classes/default.md
  client-app/docs/app/stores/store/functions/useStore.md
  client-app/docs/app/stores/store/interfaces/Store.md
  client-app/docs/app/stores/store/variables/StoreContext.md
  client-app/docs/app/stores/store/variables/store.md
  client-app/docs/main/variables/main.md
Labels: Client-App

.github/labeler.yml:

# .github/labeler.yml
# Example configuration for the labeler action

Service:
  - 'Service/**/*'

Tests:
  - 'Tests/**/*'

Client-App:
  - 'client-app/**/*'

CI/CD:
  - '.github/workflows/**/*'
