Repository jimmykurian/Reactivities, changes with the labels that .github/labeler.yml gives for each.
All labels: Service, Tests, Client-App, CI/CD

.github/labeler.yml:

# .github/labeler.yml
# Example configuration for the labeler action

Service:
  - 'Service/**/*'

Tests:
  - 'Tests/**/*'

Client-App:
  - 'client-app/**/*'

CI/CD:
  - '.github/workflows/**/*'

chore(actions): Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: CI/CD

fix(actions): Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: CI/CD

chore(actions): Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: CI/CD

chore(actions): Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: CI/CD

chore: Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: CI/CD

chore: Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: CI/CD

fix(actions): Update dotnet.yml (#63)
  .github/workflows/dotnet.yml
Labels: CI/CD

feat(actions: Update and rename dotnet.yml to ci-build.yml
  .github/workflows/ci-build.yml
  .github/workflows/dotnet.yml
Labels: CI/CD

chore(actions): fix build yml cobetura directory
  .github/workflows/ci-build.yml
  .github/workflows/node.js.yml
Labels: CI/CD

feat(package.json: add coverage scripts
  client-app/coverage/lcov-report/App.tsx.html
  client-app/coverage/lcov-report/base.css
  client-app/coverage/lcov-report/block-navigation.js
  client-app/coverage/lcov-report/favicon.png
  client-app/coverage/lcov-report/index.html
  client-app/coverage/lcov-report/main.tsx.html
  client-app/coverage/lcov-report/prettify.css
  client-app/coverage/lcov-report/prettify.js
  client-app/coverage/lcov-report/sort-arrow-sprite.png
  client-app/coverage/lcov-report/sorter.js
  client-app/coverage/lcov.info
  client-app/jest.config.js
  client-app/package.json
Labels: Client-App

chore(readme) Update README.md
  README.md
Labels: none

feat(actions: Update and rename dotnet.yml to ci-build.yml (#65)
  .github/workflows/ci-build.yml
  .github/workflows/dotnet.yml
  .github/workflows/node.js.yml
  README.md
  client-app/coverage/lcov-report/App.tsx.html
  client-app/coverage/lcov-report/base.css
  client-app/coverage/lcov-report/block-navigation.js
  client-app/coverage/lcov-report/favicon.png
  client-app/coverage/lcov-report/index.html
  client-app/coverage/lcov-report/main.tsx.html
  client-app/coverage/lcov-report/prettify.css
  client-app/coverage/lcov-report/prettify.js
  client-app/coverage/lcov-report/sort-arrow-sprite.png
  client-app/coverage/lcov-report/sorter.js
  client-app/coverage/lcov.info
  client-app/jest.config.js
  client-app/package.json
Labels: Client-App, CI/CD

Add Codacy badge
  README.md
Labels: none

docs(readme): Update README.md
  README.md
Labels: none

docs(readme): Update README.md (#67)
  README.md
Labels: none

chore(client-app): refactor folder structure
  .gitignore
  client-app/.gitignore
  client-app/__tests__/app/layout/App.spec.tsx
  client-app/__tests__/main.spec.tsx
  client-app/coverage/lcov-report/App.tsx.html
  client-app/coverage/lcov-report/base.css
  client-app/coverage/lcov-report/block-navigation.js
  client-app/coverage/lcov-report/favicon.png
  client-app/coverage/lcov-report/index.html
  client-app/coverage/lcov-report/main.tsx.html
  client-app/coverage/lcov-report/prettify.css
  client-app/coverage/lcov-report/prettify.js
  client-app/coverage/lcov-report/sort-arrow-sprite.png
  client-app/coverage/lcov-report/sorter.js
  client-app/coverage/lcov.info
  client-app/src/app/layout/App.tsx
  client-app/src/app/layout/styles.css
  client-app/src/index.css
  client-app/src/main.tsx
Labels: Client-App

chore(client-app): refactor folder structure (#69)
  .gitignore
  client-app/.gitignore
  client-app/__tests__/app/layout/App.spec.tsx
  client-app/__tests__/main.spec.tsx
  client-app/coverage/lcov-report/App.tsx.html
  client-app/coverage/lcov-report/base.css
  client-app/coverage/lcov-report/block-navigation.js
  client-app/coverage/lcov-report/favicon.png
  client-app/coverage/lcov-report/index.html
  client-app/coverage/lcov-report/main.tsx.html
  client-app/coverage/lcov-report/prettify.css
  client-app/coverage/lcov-report/prettify.js
  client-app/coverage/lcov-report/sort-arrow-sprite.png
  client-app/coverage/lcov-report/sorter.js
  client-app/coverage/lcov.info
  client-app/src/app/layout/App.tsx
  client-app/src/app/layout/styles.css
  client-app/src/index.css
  client-app/src/main.tsx
Labels: Client-App

feat(client-app): add activity model
  client-app/src/app/layout/App.tsx
  client-app/src/app/models/activity.ts
Labels: Client-App

feat(clientapp): nav bar
  client-app/.prettierignore
  client-app/__tests__/app/layout/NavBar.spec.tsx
  client-app/__tests__/app/layout/__snapshots__/NavBar.spec.tsx.snap
  client-app/public/assets/categoryImages/culture.jpg
  client-app/public/assets/categoryImages/drinks.jpg
  client-app/public/assets/categoryImages/film.jpg
  client-app/public/assets/categoryImages/food.jpg
  client-app/public/assets/categoryImages/music.jpg
  client-app/public/assets/categoryImages/travel.jpg
  client-app/public/assets/logo.png
  client-app/public/assets/placeholder.png
  client-app/public/assets/user.png
  client-app/src/app/layout/App.tsx
  client-app/src/app/layout/NavBar.tsx
  client-app/src/app/layout/styles.css
Labels: Client-App

Feat/add interfaces (#71)
  client-app/.prettierignore
  client-app/__tests__/app/layout/NavBar.spec.tsx
  client-app/__tests__/app/layout/__snapshots__/NavBar.spec.tsx.snap
  client-app/public/assets/categoryImages/culture.jpg
  client-app/public/assets/categoryImages/drinks.jpg
  client-app/public/assets/categoryImages/film.jpg
  client-app/public/assets/categoryImages/food.jpg
  client-app/public/assets/categoryImages/music.jpg
  client-app/public/assets/categoryImages/travel.jpg
  client-app/public/assets/logo.png
  client-app/public/assets/placeholder.png
  client-app/public/assets/user.png
  client-app/src/app/layout/App.tsx
  client-app/src/app/layout/NavBar.tsx
  client-app/src/app/layout/styles.css
  client-app/src/app/models/activity.ts
Labels: Client-App

feat(client-app): add ActivityDashboard
  client-app/__tests__/app/features/activities/dashboard/ActivityDashboard.spec.tsx
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityDashboard.spec.tsx.snap
  client-app/package-lock.json
  client-app/package.json
  client-app/src/app/features/activities/dashboard/ActivityDashboard.tsx
  client-app/src/app/layout/App.tsx
Labels: Client-App

chore(client-app): re-arrange unit tests to follow Arrange, Act, Assert pattern
  client-app/__tests__/app/features/activities/dashboard/ActivityDashboard.spec.tsx
  client-app/__tests__/app/layout/App.spec.tsx
  client-app/__tests__/app/layout/NavBar.spec.tsx
  client-app/__tests__/main.spec.tsx
Labels: Client-App

Feat/add dashboard (#73)
  client-app/__tests__/app/features/activities/dashboard/ActivityDashboard.spec.tsx
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityDashboard.spec.tsx.snap
  client-app/__tests__/app/layout/App.spec.tsx
  client-app/__tests__/app/layout/NavBar.spec.tsx
  client-app/__tests__/main.spec.tsx
  client-app/package-lock.json
  client-app/package.json
  client-app/src/app/features/activities/dashboard/ActivityDashboard.tsx
  client-app/src/app/layout/App.tsx
Labels: Client-App

feat(client-app): add activity list
  client-app/__tests__/app/features/activities/dashboard/ActivityList.spec.tsx
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityDashboard.spec.tsx.snap
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityList.spec.tsx.snap
  client-app/src/app/features/activities/dashboard/ActivityDashboard.tsx
  client-app/src/app/features/activities/dashboard/ActivityList.tsx
Labels: Client-App

feat(client-app): add activity list (#75)
  client-app/__tests__/app/features/activities/dashboard/ActivityList.spec.tsx
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityDashboard.spec.tsx.snap
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityList.spec.tsx.snap
  client-app/src/app/features/activities/dashboard/ActivityDashboard.tsx
  client-app/src/app/features/activities/dashboard/ActivityList.tsx
Labels: Client-App

feat(client-app): add TypeDoc package, markdown plugin, and TSDoc comments
  client-app/docs/README.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/README.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/interfaces/Props.md
  client-app/docs/app/features/activities/dashboard/ActivityList/README.md
  client-app/docs/app/features/activities/dashboard/ActivityList/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityList/interfaces/Props.md
  client-app/docs/app/layout/App/README.md
  client-app/docs/app/layout/App/functions/default.md
  client-app/docs/app/layout/NavBar/README.md
  client-app/docs/app/layout/NavBar/functions/default.md
  client-app/docs/app/models/activity/README.md
  client-app/docs/app/models/activity/interfaces/Activity.md
  client-app/docs/main/README.md
  client-app/docs/main/variables/main.md
  client-app/package-lock.json
  client-app/package.json
  client-app/src/app/features/activities/dashboard/ActivityDashboard.tsx
  client-app/src/app/features/activities/dashboard/ActivityList.tsx
  client-app/src/app/layout/App.tsx
  client-app/src/app/layout/NavBar.tsx
  client-app/src/app/models/activity.ts
  client-app/src/main.tsx
  client-app/typedoc.json
Labels: Client-App

feat(client-app): add a markdownlint.json file to the project
  client-app/.markdownlint.json
Labels: Client-App

Feat/add typedoc (#77)
  client-app/.markdownlint.json
  client-app/docs/README.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/README.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/interfaces/Props.md
  client-app/docs/app/features/activities/dashboard/ActivityList/README.md
  client-app/docs/app/features/activities/dashboard/ActivityList/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityList/interfaces/Props.md
  client-app/docs/app/layout/App/README.md
  client-app/docs/app/layout/App/functions/default.md
  client-app/docs/app/layout/NavBar/README.md
  client-app/docs/app/layout/NavBar/functions/default.md
  client-app/docs/app/models/activity/README.md
  client-app/docs/app/models/activity/interfaces/Activity.md
  client-app/docs/main/README.md
  client-app/docs/main/variables/main.md
  client-app/package-lock.json
  client-app/package.json
  client-app/src/app/features/activities/dashboard/ActivityDashboard.tsx
  client-app/src/app/features/activities/dashboard/ActivityList.tsx
  client-app/src/app/layout/App.tsx
  client-app/src/app/layout/NavBar.tsx
  client-app/src/app/models/activity.ts
  client-app/src/main.tsx
  client-app/typedoc.json
Labels: Client-App

Move pull_request_template.md to .github folder
  .github/pull_request_template.md
Labels: none

move CODE_OF_CONDUCT.md repo root
  CODE_OF_CONDUCT.md
Labels: none

move CONTRIBUTING.md to repo root
  CONTRIBUTING.md
Labels: none

move SECURITY.md to repo root
  SECURITY.md
Labels: none

docs(markdown): clean up markdown files (#79)
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
Labels: none

chore(application): clean up class documenation
  Service/Application/Activities/Edit.cs
Labels: Service

Stop tracking DocGenerator directory
  DocGenerator/DocGenerator.csproj
  DocGenerator/DocGenerator.sln
  DocGenerator/Program.cs
Labels: none

chore(.gitignore): update gitignore
  .gitignore
Labels: none

chore(.gitignore): stop tracking DocGenerator Console app (#82)
  .gitignore
  DocGenerator/DocGenerator.csproj
  DocGenerator/DocGenerator.sln
  DocGenerator/Program.cs
Labels: none

feat(client-app): add activityDetails class
  client-app/__tests__/app/features/activities/dashboard/ActivityDashboard.spec.tsx
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityDashboard.spec.tsx.snap
  client-app/__tests__/app/features/activities/details/ActivityDetails.spec.tsx
  client-app/__tests__/app/features/activities/details/__snapshots__/ActivityDetails.spec.tsx.snap
  client-app/src/app/features/activities/dashboard/ActivityDashboard.tsx
  client-app/src/app/features/activities/details/ActivityDetails.tsx
Labels: Client-App

docs(client-app): update docs for new ActivityDetails component
  client-app/docs/README.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/interfaces/Props.md
  client-app/docs/app/features/activities/dashboard/ActivityList/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityList/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetails/README.md
  client-app/docs/app/features/activities/details/ActivityDetails/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetails/interfaces/Props.md
  client-app/docs/app/layout/App/functions/default.md
  client-app/docs/app/layout/NavBar/functions/default.md
  client-app/docs/app/models/activity/interfaces/Activity.md
  client-app/docs/main/variables/main.md
Labels: Client-App

Feat/add details view (#84)
  client-app/__tests__/app/features/activities/dashboard/ActivityDashboard.spec.tsx
  client-app/__tests__/app/features/activities/dashboard/__snapshots__/ActivityDashboard.spec.tsx.snap
  client-app/__tests__/app/features/activities/details/ActivityDetails.spec.tsx
  client-app/__tests__/app/features/activities/details/__snapshots__/ActivityDetails.spec.tsx.snap
  client-app/docs/README.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityDashboard/interfaces/Props.md
  client-app/docs/app/features/activities/dashboard/ActivityList/functions/default.md
  client-app/docs/app/features/activities/dashboard/ActivityList/interfaces/Props.md
  client-app/docs/app/features/activities/details/ActivityDetails/README.md
  client-app/docs/app/features/activities/details/ActivityDetails/functions/default.md
  client-app/docs/app/features/activities/details/ActivityDetails/interfaces/Props.md
  client-app/docs/app/layout/App/functions/default.md
  client-app/docs/app/layout/NavBar/functions/default.md
  client-app/docs/app/models/activity/interfaces/Activity.md
  client-app/docs/main/variables/main.md
  client-app/src/app/features/activities/dashboard/ActivityDashboard.tsx
  client-app/src/app/features/activities/details/ActivityDetails.tsx
Labels: Client-App
