Repository jimmykurian/Reactivities, changes with the labels that .github/labeler.yml gives for each.
All labels: Service, Tests, Client-App, CI/CD

Create pull_request_template.md
  docs/pull_request_template.md
Labels: none

Update pull_request_template.md
  docs/pull_request_template.md
Labels: none

Update pull_request_template.md
  docs/pull_request_template.md
Labels: none

Update pull_request_template.md
  docs/pull_request_template.md
Labels: none

Docs/add pull requests templates (#38)
  docs/pull_request_template.md
Labels: none

docs: Create README.md
  README.md
Labels: none

docs: Create README.md (#40)
  README.md
Labels: none

Create CODE_OF_CONDUCT.md
  docs/CODE_OF_CONDUCT.md
Labels: none

docs: Create CODE_OF_CONDUCT.md (#42)
  docs/CODE_OF_CONDUCT.md
Labels: none

docs: Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

chore: add CONTRIBUTING.md to docs folder
  docs/CONTRIBUTING.md
Labels: none

docs: add a CONTRIBUTING.md file (#44)
  docs/CONTRIBUTING.md
Labels: none

docs: Create LICENSE
  docs/LICENSE
Labels: none

docs: Create LICENSE (#46)
  docs/LICENSE
Labels: none

chore: update LICENSE location
  LICENSE
Labels: none

chore: update CONTRIBUTING.md location
  CONTRIBUTING.md
Labels: none

chore: update CONTRIBUTING.md to docs folder
  docs/CONTRIBUTING.md
Labels: none

docs: Create SECURITY.md
  docs/SECURITY.md
Labels: none

docs: Create SECURITY.md (#48)
  docs/SECURITY.md
Labels: none

feat(workflows): Create codeql.yml
  .github/workflows/codeql.yml
Labels: CI/CD

feat(workflows): Create codeql.yml (#50)
  .github/workflows/codeql.yml
Labels: CI/CD

feat(activities): add delete handler
  Service/API/Controllers/ActivitiesController.cs
  Service/Application/Activities/Delete.cs
  Tests/API/Controllers/ActivitiesControllerTests.cs
  Tests/Application/Activities/DeleteTests.cs
Labels: Service, Tests

feat(activities): add delete handler (#52)
  Service/API/Controllers/ActivitiesController.cs
  Service/Application/Activities/Delete.cs
  Tests/API/Controllers/ActivitiesControllerTests.cs
  Tests/Application/Activities/DeleteTests.cs
Labels: Service, Tests

feat(api): create applicationsextensions class
  Service/API/Extensions/ApplicationServiceExtensions.cs
  Service/API/Program.cs
Labels: Service

feat(api): create applicationsextensions class (#54)
  Service/API/Extensions/ApplicationServiceExtensions.cs
  Service/API/Program.cs
Labels: Service

feat(tests): add cobertura code coverage and ReportGenerator tool
  .github/workflows/dotnet.yml
  .gitignore
  Tests/TestResults/160d4017-57c6-4fac-b9d6-9af3a4111d5a/coverage.cobertura.xml
  Tests/Tests.csproj
Labels: Tests, CI/CD

feat(tests): add cobertura code coverage and ReportGenerator tool (#56)
  .github/workflows/dotnet.yml
  .gitignore
  Tests/TestResults/160d4017-57c6-4fac-b9d6-9af3a4111d5a/coverage.cobertura.xml
  Tests/Tests.csproj
Labels: Tests, CI/CD

fix(actions): fix .netcore build script to generate badge for readme
  .github/workflows/dotnet.yml
  README.md
Labels: CI/CD

fix(actions): fix .netcore build script for warnings and generate code coverage badge for readme (#58)
  .github/workflows/dotnet.yml
  README.md
Labels: CI/CD

fix(actions): generate svg and update readme
  .github/workflows/dotnet.yml
  README.md
Labels: CI/CD

Fix/netcore build yml (#59)
  .github/workflows/dotnet.yml
  README.md
Labels: CI/CD

chore(readme) Update README.md
  README.md
Labels: none

fix(actions) Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: CI/CD

fix(actions) Update README.md
  README.md
Labels: none

fix(actions): Update dotnet.yml
  .github/workflows/dotnet.yml
  README.md
Labels: CI/CD

feat(actions): Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: CI/CD

feat(readme): Update README.md
  README.md
Labels: none

chore(actions): Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: CI/CD

Jimmykurian patch 1 (#62)
  .github/workflows/dotnet.yml
  README.md
Labels: CI/CD

fix(actions): Update dotnet.yml
  .github/workflows/dotnet.yml
Labels: CI/CD

.github/labeler.yml:

# .github/labeler.yml
# Example configuration for the labeler action

Service:
  - 'Service/**/*'

Tests:
  - 'Tests/**/*'

Client-App:
  - 'client-app/**/*'

CI/CD:
  - '.github/workflows/**/*'
